/* padronização com margin e padding 0 e alteração da fonte */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* controle do overflow lateral */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* layout base com flexbox para permitir footer colado ao fundo */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    height: auto;   
    background-color: black;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    font-size: larger;
}

/* hover nos botões, muda background e adiciona border */
button:hover {
    background-color: black;
    border: 2px solid gray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

/* ao clicar no input (focus), adicionamos border e mudamos o background */
input:focus {
    outline: none;
    border: 1px solid #f58232;
    box-shadow: 0 0 5px #f58232aa;
    background-color: #1a1a1a;
    transition: all 0.3s ease;
}


/* assegurando que o container ocupe 100% da largura da tela, conteúdo alinhado no meio e não ultrapasse o tamanho max do eixo x */
.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow-x: hidden;
}

/* o filter mantém a imagem escura com o brightness reduzido e o grayscale a torna preto e branco */
.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(45%) grayscale(100%);
}

/* logo com tamanho fixo para mesmo em celular, conseguirmos ver */
.home-logo {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 200px; 
    height: auto;
}

/* login container, absolute para ficar no meio da tela */
.login-container{
    position: absolute;
    background-color: rgba(0, 0 , 0, 0.7);
    height: 50vh;
    width: 40vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: max-content;
}

.login-text{
    color: white;
    font-size: xx-large;
}

.login-input{
    display: flex;
    flex-direction: column;
}

.login-form{
    display: flex;
    flex-direction: column;   
}

/* abaixo é a estilização dos inputs e button */
.email-input, .password-input{
    margin: 9px 0px;
    background-color: #232323;
    padding: 10px;
    font-size: large;
    border: 2px solid #cccccc38;
    border-radius: 2px;
}

.login-button{
    margin-top: 9px;
    background-color: #f58232;
    height: 4vh;
    border: 0px solid;
    border-radius: 2px;
    font-size: large;
    cursor: pointer;
}

.or-text{
    color: #cccccc68;
    display: flex;
    justify-content: center;
    top: 5px;
}

.forgot-container{
    display: flex;
    flex-direction: column;
}

.access-code{
    background-color: rgba(110, 110, 110, 0.5);
    height: 4.2vh;
    font-size: large;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.forgot-password{
    background-color: transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}

/* hover esqueci minha senha, translatey movimenta o texto para cima */
.forgot-password:hover{
    background-color: transparent;
    border: none;
    color: #f58232;
    text-decoration: underline;
    transform: translateY(-1px);
}


.remember-class{
    font-size: larger;
}

.signup-link{
    font-size: larger;
}
.signup-link a:hover {
    color: #f58232;
}

/* texto "novo por aqui?" */
#new{
    color: #cccccc68;
}

/* layout das colunas do rodapé */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
}

/* texto "Dúvidas? Ligue 0000 000 0000" */
.footer-faq{
    color: #cccccc68;
    margin-bottom: 20px;
}


/* estilo dos links de cada coluna do rodapé */
.footer-column a {
    display: block;
    margin-bottom: 12px;
    color: #cccccc68;
    text-decoration: underline;
    word-break: break-word;
}



/* estilo do seletor de idioma */
.footer-language select{
    font-size: large;
    padding: 5px 5px 5px 0px;
    background-color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}